a {
  display: flex;
}
.form {
  box-sizing: border-box;
  margin-top: 36px;
  margin-left: 156px;
  max-width: 360px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.form input[name='delay'] {
  display: block;
  margin-bottom: 16px;
  padding-left: 16px;
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
}
.form input[name='delay']:hover,
.form fieldset:hover,
.form fieldset:focus-within {
  border: 1px solid #000;
}
.form input[name='delay']:focus {
  border: 1px solid #4e75ff;
}
.form input[type='state'] {
  letter-spacing: normal;
}

.form fieldset legend::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 1px;
  background-color: #000;
  vertical-align: middle;
}

.form fieldset {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 360px;
  height: 60px;
  margin-bottom: 24px;
  padding: 0px;
  border: 1px solid #808080;
  border-radius: 4px;
}

.form button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
}

.form button:hover {
  background-color: #6c8cff;
}
